.field {
  display: grid;
  width: 400px;
  height: 400px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
  margin: 30px auto;
}

.cell {
  width: 100%;
  height: 100%;
  border: 1px solid #444;
  background: #eee;
}

.goblin {
  width: 100%;
  height: 100%;
}
